Repository emtkmkk/mkkey, changes with the labels that .github/labeler.yml gives for each.
All labels: ⚙️Server, 🖥️Client

.github/labeler.yml:

'⚙️Server':
- packages/backend/**/*

'🖥️Client':
- packages/client/**/*

Update utils.ts
  packages/backend/test/utils.ts
Labels: ⚙️Server

Update utils.ts
  packages/backend/test/utils.ts
Labels: ⚙️Server

refactor
  packages/backend/src/db/postgre.ts
Labels: ⚙️Server

lint
  packages/backend/test/activitypub.ts
  packages/backend/test/ap-request.ts
  packages/backend/test/api-visibility.ts
  packages/backend/test/block.ts
  packages/backend/test/chart.ts
  packages/backend/test/extract-mentions.ts
  packages/backend/test/fetch-resource.ts
  packages/backend/test/get-file-info.ts
  packages/backend/test/misc/mock-resolver.ts
  packages/backend/test/mute.ts
  packages/backend/test/note.ts
  packages/backend/test/prelude/url.ts
  packages/backend/test/streaming.ts
  packages/backend/test/user-notes.ts
Labels: ⚙️Server

Update .mocharc.json
  packages/backend/.mocharc.json
Labels: ⚙️Server

chore(dev): tweak text
  CONTRIBUTING.md
Labels: none

fix(client): fix undefined data value on 2FA settings (#8725)
  packages/client/src/pages/settings/2fa.vue
Labels: 🖥️Client

fix(client): wrong scoping breaks 2FA
  packages/client/src/components/signin.vue
Labels: 🖥️Client

Update README.md (#8729)
  README.md
Labels: none

fix: wrong type for isVisibleForMe
  packages/backend/src/remote/activitypub/kernel/announce/note.ts
  packages/backend/src/services/note/reaction/create.ts
Labels: ⚙️Server
